
html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
  background-image: linear-gradient(90deg, rgb(60, 60, 60), rgb(27, 27, 27));
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

.pageTitle {
  position: relative;
  top: 50px;
}

.appTitle h1 {
  text-align: center;
  font-family: 'Ubuntu';
  color: white;
}

.appTitle p {
  text-align: center;
  font-family: 'Ubuntu';
  color: white;
}

.appTitle p strong {
  text-align: center;
  font-family: 'Ubuntu';
  color: white;
}

.listName {
  position: relative;
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 35px;
  top: 80px;
}

.submitButton {
  position: relative;
    width: 121px;
    margin: 0 auto;
    top: 80px;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  left: 10px;
  top: -200px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* lists page css */
body .show-lists {
  color: white;
  display: flex;
}

body .first-line {
  margin-left: 20px;
  margin-top: 20px;
}

body .lists {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  font-size: 20px;
}

body .lists .new-list {
  display: flex;
  flex-direction: column;
  
}

body .lists .new-list .delete-button {
  margin-left: 20px;
  background-color: red;
  border: none;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(40, 40, 40);}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.footer h5 {
  text-align: center;
  font-family: 'Ubuntu';
  color: rgb(85, 85, 85);
}

.footer h6 {
  text-align: center;
  font-family: 'Ubuntu';
  color: rgb(85, 85, 85);
}
